<% include ../partials/header %>

    <div class="container margin-top-bottom">
        <h1 class="center-heading">Edit the post <strong><%= blog.title %></strong></h1>
        <form id="post-form" class="form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="">
                <label>Title</label>
                <input type="text" name="blog[title]" placeholder="title" value="<%= blog.title %>" required>
            </div>
            <div class="">
                <label>Level</label>
                <input type="text" name="blog[level]" placeholder="level" value="<%= blog.level %>" required>
            </div>
            <div class="">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" accept="image/*">
            </div>
            <div class="">
                <label>Blog Content</label>
                <textarea required name="blog[body]"><%= blog.body %></textarea>
                <script>
        			CKEDITOR.replace( 'blog[body]' );
        		</script>
            </div>
            <input id="btn" class="ui big teal button" type="submit" value="Submit">
        </form>
    </div>
    
    

<% include ../partials/footer %>