<% include ../partials/header %>


<header class="header">
    <h1 class="header__heading">Simply English</h1>
    <p class="header__caption">A blog for English Language Learners.</p>
</header>




<div class="container">

    <div class="">
        <h2>Recent Posts</h2>
        <form action="/blogs" method="GET" class="">
            <div class="">
                <input type="text" name="search" placeholder="Search blogs posts">
                <input type="submit" value="Search" class="">
            </div>
        </form>
    </div>

    <div class="cards">
        <% blogs.forEach(function(blog){ %>
        <div class="card">
            <div class="card__head">
                <img class="card__image" src="<%= blog.image %>">
                <div class="card__author">
                    Written By
                    <img class="card__author-avatar" src="<%= blog.author.avatar %>">

                    <a class="card__author-name" href="/users/<%= blog.author.id %>">
                        <%= blog.author.username %></a>
                </div>
            </div>
            <div class="card__content">
                <a class="card__title" href="/blogs/<%= blog._id %>">
                    <%= blog.title %>
                </a>
                <div class="">
                    <span>Created
                        <%= moment(blog.created).fromNow() %></span>
                    <a class="">
                        <%= blog.level %></a>
                </div>
                <div class="class">
                    <p>
                        <%- blog.body.substring(0, 200) %>...</p>
                </div>
            </div>

            <div class="">
                <div class="">
                    <a class="" href="/blogs/<%= blog._id %>">
                        Read More<i class=""></i>
                    </a>
                </div>

            </div>
        </div>
        <% }) %>
    </div>


</div>



<% include ../partials/footer %>