<% include ../partials/header %>

    <%= blog %>
    <header class="post-header">
        <img class="" src="<%= blog.image %>">
    </h>
    <div class="container">
        <div class="">
            <div class="">
                <div class="">
                    <h1 class="post-title"><%= blog.title %></h1> <a href="/users/<%= blog.author.id %>" class="post-author">by <%= blog.author.username %></a>
                    <p class="post-date">Created <%= moment(blog.created).fromNow() %></p>
                </div>
                

                <div class="description">
                    <p><%- blog.body %></p>
                </div>
                <% if(currentUser && blog.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="blog-post-btns">
                        <a id="btn" class="ui teal small button" href="/blogs/<%= blog._id %>/edit">Edit</a>
                        <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                            <button id="btn" class="ui red small button">Delete</button>
                        </form>
                    </div>
                <% } %>
                <div id="comments" class="ui comments raised segment container comment-box">
                    <h3 class="ui teal ribbon label">Comments</h3>
                        <% blog.comments.forEach(function(comment){ %>
                            <div class="comment">
                                <div class="content">
                                    <a id="comment-author" href="/users/<%= comment.author.id %>" class="author"><%= comment.author.username %></a>
                                    <div class="metadata">
                                        <span class="date"><%= moment(comment.created).fromNow() %></span>
                                    </div>
                                    <div class="text">
                                        <p><%= comment.text %></p>
                                    </div>
                                    <div>
                                        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                            <a class="comment-btn" 
                                            href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                            <form class="comment-form" action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                <input type="submit" class="comment-btn" value="Delete">
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    <a id="btn" href="/blogs/<%= blog._id %>/comments/new" class="ui primary submit labeled icon button">
                        <i class="icon edit"></i> Add Comment
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    

<% include ../partials/footer %>